.box {
  position: relative;
  padding: 10px 10px 10px 10px;
}

.editable {
  border-color: #bd0f18;
  box-shadow: inset 0 0 10px #555;
  background: #f2f2f2;
}

.text {
  outline: none;
  color: #086EA0;
  font-size: 12pt;
  text-align: left;
  padding: 10px;
  position: relative margin-bottom: 20px;
  margin-top: 0px;
}

.edit, .save {
  width: 60px;
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 4px 10px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.5);
}

.edit { 
  background: #557a11;
  color: #f0f0f0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.save {
  display: none;
  background: #bd0f18;
  color: #f0f0f0;
}

.box:hover .edit {
  opacity: 1;
}
