﻿/*
fml-color-scheme

blue:       #086EA0
light blue: #AAD2F0
pale blue:  #DCECF8
green:      #78C864
orange:     #F6BA00
gray:       #808080
light gray: #D9D9D9
pale gray:  #E6E6E6
white
black
*/

/*================================
    general styles
================================*/
html {
	height: 100%;
}

body {
	background: #DCECF8;
	font-family: sans-serif;
	font-size: 10pt;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin: 10px;
	height: 100%;
}

body:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.topcorner {
	position: absolute;
	top: 0;
	right: 30px;
}

.visited {
	color: #f44174;
}

.unvisited {
	color: #c00;
}

a:link {
	color: #c00;
	font-size: 17px;
} /* unvisited links */
.container {
	display: inline-block;
	margin: 0 auto;
}

.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}

.form {
	position: relative;
	z-index: 1;
	background: white;
	margin: 0 auto 0;
	padding: 20px;
	border-radius: 6px;
	text-align: center;
	margin-top: 35px;
}

.form .thumbnail {
	width: 150px;
	height: 260px;
	margin: 0 auto 20px;
	box-sizing: border-box;
}

.form .thumbnail img {
	display: block;
	width: 100%;
}

.form_input {
	outline: 0;
	background: #AAD2F0;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 14px;
}

.form_button {
	outline: 0;
	background: #086EA0;
	width: 100%;
	border: 0;
	padding: 15px;
	border-radius: 6px;
	color: white;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	line-height: 1;
}

.makebuy_button {
	display: table;
	margin: 10 auto outline: 0;
	background: #086EA0;
	width: 50%;
	border: 0;
	padding: 15px;
	border-radius: 6px;
	color: white;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	line-height: 1;
}

.form_button:disabled {
	background: #808080;
	cursor: default;
}

.boundary {
	clear: both;
	background: #AAD2F0;
	border: 0;
	border-radius: 10px;
	margin-bottom: 8px;
	z-index: 30;
	position: relative; /*needed for z-index*/
}
/*class to show normal classification */
.normalclassification {
	background: white;
	margin: 10px;
	width: 300px;
    height: 150px;
	border: 1px solid #086EA0;
}
/*class to show selection to any classification*/
.selected {
	background-color: silver;
	margin: 10px;
	width: 96%;
	height: 96%;;
	border: 1px solid #086EA0;
}

ul.hiddenbulletpoints {
	padding: 25px 25px 0px 0px;
	margin: 0px;
	list-style-type: none;
	text-align: left;
	position: relative;
	z-index: 10;
}

/*
    #stages-schematic ul.hiddenbulletpoints li,  #indicators ul.hiddenbulletpoints li {
  display:inline-block;
}*/
ul.hiddenbulletpoints li {
	margin: 0px 0px 10px 10px;
	vertical-align: middle;
	display: inline-block;
}

.hidden {
	display: none !important;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

:checked+label {
	background: #FFDDAF !important;
}

:checked+label strong {
	background: #F6BA00 !important;
}

label.checkmark::before { /* the checkmark, hidden */
	font-weight: bold;
	font-size: 14pt;
	background-color: #78C864;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid #808080;
	position: absolute;
	top: -20px;
	left: -14px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	transition-duration: 0.4s;
	transform: scale(0);
}

:checked+label.highlight { /* the checkmark, visible */
	background: #F6BA00 !important;
}

.highlighted strong {
	background: #F6BA00 !important;
}

:checked+label.checkmark:before { /* the checkmark, visible */
	content: "✓";
	background-color: #78C864;
	color: white;
	transform: scale(1);
}

.suggestion::before {
	content: " ";
	background-image: url("/resources/images/bulb_white.png");
	background-size: 20px 28px;
	background-position: 5px 1px;
	background-repeat: no-repeat;
	background-color: #78C864;
	display: block;
	border-radius: 50%;
	border: 1px solid #808080;
	position: absolute;
	top: -20px;
	left: -14px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	z-index: 20;
}

.navigation {
	margin: 20px auto 0px auto !important;
	width: 400px;
}

.table {
	display: table;
	border-collapse: separate;
	border-spacing: 10px 10px;
	table-layout: fixed;
	border-collapse: separate;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell !important;
	vertical-align: middle;
}

.makeorbuyDecisionTable {
	display: table;
	margin-left: auto;
	margin-right: auto;
	border: none !important;
	table-layout: fixed;
}

.productionCriteriaTable {
	display: table;
	margin-left: auto;
	margin-right: auto;
	border: none !important;
	table-layout: fixed;
}

.info {
	color: #086EA0;
	font-size: 12pt;
	text-align: left;
	border-radius: 6px;
	border: 1px solid #086EA0;
	padding: 10px;
	/* The position attribute has been added to adjust the indicator text position*/
	position: relative margin-bottom: 20px;
	margin-top: 0px;
}

#nav {
	width: 260px;
	display: block;
}

#nav .form_button {
	margin: 15px;
 	width: 94px;
}

/*================================
    login form
================================*/
#login-form {
	max-width: 300px;
}

/*================================
    survey form
================================*/
#survey-form, #makeorbuy-form {
	width: inherit;
	overflow: hidden;
}

#survey-form .label {
	height: 100px;
}

#survey-form .rowlabel {
	height: 100px;
}

#makeorbuy-form .label {
	height: 54px;
}

#procurement_strategy-form .hiddenbulletpoints {
	padding: 8px !important;
}

#procurement_strategy-form .hiddenbulletpoints li {
	display: table-cell !important;
}

#procurement_strategy-form label.label {
	/*height: 90px;*/
	height: auto;
	width: inherit !important;
	margin-left: 8px;
}

#procurement_strategy-form .head {
	width: 200px !important;
}

label {
	cursor: pointer;
}

.label {
	border: 2px inset #AAD2F0;
	border-radius: 6px;
	display: block;
	position: relative;
	width: 120px;
	text-align: center;
	line-height: 18px;
	float: left;
	background: #DCECF8;
	padding: 6px;
}

#stages .label {
	height: 130px;
	width: 157px;
	padding: 0px !important;
}

#selected-stages .label {
	background: white !important;
	vertical-align: top !important;
	float: none !important;
}

#survey-form .head {
	width: 100px !important;
}

#makeorbuy-form .head {
	width: 450px !important;
}

.label.head {
	margin-left: 0px !important;
	background: none !important;
	font-weight: bold;
	text-align: left;
}

ul.flat .label {
	height: 34px !important;
}

#survey-form .info {
	width: 250px;
}

.accordion-button {
	float: right;
	display: block;
	height: 18px;
	width: 17px;
	text-indent: -9999px;
}

.closed {
	background: url("/resources/images/button.png") left no-repeat;
}

.open {
	background: url("/resources/images/button.png") right no-repeat;
}

/*================================
    stages selection form
================================*/
#stages-schematic .selected strong {
	background: #F6BA00 !important;
}

#stages {
	min-height: 400px;
}

#stages strong {
	display: block;
	background: #AAD2F0;
	padding: 6px;
}

#stages span {
	display: block;
	margin: 6px;
}

#stages #arrow-tail {
	background-image: url("/resources/images/arrow-tail.png");
	background-size: 60px 100%;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: -64px;
	width: 60px;
	height: 100%;
	z-index: 1;
	float: left;
}

#stages #arrow-head {
	background-image: url("/resources/images/arrow-head.png");
	background-size: 60px 100%;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	right: -70px;
	width: 60px;
	height: 100%;
	z-index: 1;
	float: right;
}

#stages .arrow-cutout {
	border-radius: 6px 0px 0px 6px;
	position: absolute;
	top: -5px;
	right: -12px;
	background-color: white;
	display: block;
	width: 10px;
	height: 99%;
	z-index: 1;
	float: left;
}

#stages #arrow-head .arrow-cutout {
	border-radius: 0px 6px 6px 0px !important;
	top: -5px !important;
	left: -12px !important;
}

#selected-stages {
	height: 670px;
	overflow: auto;
	display: inline-block;
	width: 100%;
	background-image:
		url("/resources/images/StartupLog_logo_background.png");
	background-position-y: 200px;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: 240px;
}

#selected-stages .table {
	z-index: 1;
	width: 100%;
	left: 0px;
	right: 0px;
	position: absolute;
}

#selected-stages strong {
	background: #808080 !important;
	color: white;
}

#selected-stages .characteristics {
	margin: 0px;
	padding: 0px;
}

#selected-stages .characteristics>ul {
	margin: 0px;
	width: 450px;
	text-align: left;
	padding: 6px 6px 6px 24px;
}

#selected-stages .navigation {
	width: 80px;
}

#selected-stages .table>div {
	display: none;
}

.table-row {
	background: #D9D9D9;
	border: 0;
	border-radius: 6px;
	margin-bottom: 8px;
}

/*================================
    functions selection form
================================*/
#functions-form {
	
}

.tablerow_label {
	display: inline-block;
	text-align: left;
	padding: 8px;
}

.tablerow_head {
	margin-left: inherit;
	background: #AAD2F0;
	font-weight: bold;
	text-align: center !important;
	display: block;
	line-height: 40px;
	height: 44px;
}

.tablerow_head span {
	vertical-align: middle;
	display: inline-block;
	line-height: 20px;
}

#functions-form ul.hiddenbulletpoints li {
	display: inherit !important;
}

#functions-form .choice {
	margin: 0px;
}

#functions-form ul {
	list-style-type: none;
}

#functions-form li {
	margin: 0px !important;
}

#functions-form #functions-form-stages {
	padding: 8px;
	margin: 0px;
	background: #AAD2F0;
	border-radius: 6px;
	text-align: left;
}

#functions-form #functions-form-stages>li {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#functions-form ul.hiddenbulletpoints {
	padding: 0px !important;
}

#functions-form .stage-row {
	border: 2px inset #AAD2F0;
	display: block;
	position: relative;
	height: 370px;
	width: 350px;
	background: #DCECF8;
	margin-bottom: 8px;
	margin-right: 8px;
}

#functions-form :checked+label {
	background: #DCECF8 !important;
}

#functions-form .functd {
	border: none;
	padding: 30px 50px 30px 50px;
}

/* Hide the browser's default checkbox */
#functions-form input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#functions-form .check {
    position: relative;
    top: 4px;
    left: -4px;
    height: 18px;
    width: 18px;
    border-radius:50%;
    background-color: #FFF;
    display: inline-block;
    margin-top: 5px;
    margin-left: 7px;
}

/* When the checkbox is checked, add a blue background */
#functions-form input:checked ~ .check {
    background-color: #39b719;
}

/* Create the checkmark/indicator (hidden when not checked) */
#functions-form .check:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#functions-form input:checked ~ .check:after {
    display: block;
}

/* Style the checkmark/indicator */
#functions-form .check:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*================================
    popup
================================*/
.popup {
	display: none;
	z-index: 50;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 49;
	opacity: 0.6;
	background-color: black;
	display: none;
}

#procurement_strategy-form #search {
	margin-bottom: 20px;
}

#popupClose {
	z-index: 999;
	position: absolute;
	right: -6px;
	top: -6px;
	font-size: 14pt;
	background-color: #086EA0;
	color: white;
	display: block;
	border-radius: 50%;
	border: 1px solid #808080;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}

#response {
	margin-top: 10px;
}

#initialplanning-update_informations-form #nav {
	width: 400px !important;
}

#functions_navbar {
	width: 200px;
	text-align: left;
	float: left;
}

#functions_navbar ul {
	position: relative; /* important to get links working */
	z-index: 1; /* important to get links working */
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#functions_navbar h1 {
	margin: 0px;
	display: block;
	color: #FFF;
	background-color: #036;
	padding: 3px 12px 3px 8px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	font-size: inherit;
}

#functions_navbar a:hover {
	background-color: #369;
	color: #FFF;
}

#functions_navbar li li a {
	display: block;
	color: #FFF;
	background-color: #69C;
	padding: 3px 3px 3px 17px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	font-size: 10pt;
}

#workspace_content {
	margin-left: 210px;
	text-align: left;
}

#workspace_content_nonavbar {
	margin-left: 0px;
	text-align: left;
}

#suggestions_button {
	position: relative;
	z-index: 1;
	width: 200px !important;
}

#question_row_1 {
	float: left;
	width: 49%;
}

#question_row_2 {
	float: right;
	width: 49%;
}

#supplierSelection input, button {
	padding: 5px;
}

#supplierSelection table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}

#supplierSelection table, th, td {
	border: 1px solid #cdcdcd;
}

#supplierSelection table th, table td {
	padding: 10px;
	text-align: left;
}

#supplierSelection .criteriaButtons {
	position: absolute;
	left: 20px;
}

.materialcontainer {
	position: relative;
	width: 100%;
	color: #086EA0;
	font-size: 10pt;
	text-align: left;
	margin-bottom: 20px;
	background: white;
	margin: 35px auto 0;
	padding: 20px;
	border-radius: 6px;
}

.materialform {
	width: 100%;
	background: white;
	text-align: left;
}

#abc_analysis .hiddenbulletpoints {
	padding: 0px !important;
}

#abc_analysis .hiddenbulletpoints li {
	padding: 0px !important;
	margin: 0px !important;
	display: block !important;
}

#abc_analysis .table {
	border-spacing: 0px !important;
}

#abc_analysis .table-row {
	margin: 0px !important;
}

#abc_analysis input {
	width: 140px;
	text-align: right;
}

.tooltip {
	position: relative;
	display: inline-block;
	/*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 130px;
	background-color: #086EA0;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}	

.functd {
	border: none;
	padding: 30px 50px 30px 50px;
}

.addUser {
	background: #D9D9D9;
	border-radius: 10px;
}

.addUser-form {
	position: absolute;
	z-index: 1;
	background: white;
	margin: 0 auto 0;
	padding: 20px;
	border-radius: 6px;
	text-align: center;
	margin-top: 35px;
}

#userAdministration-form input[type=text] {
    width: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #DCECF8;
    border: 2px inset #AAD2F0;
    border-radius: 6px;
}

#userAdministration-form input[type=password] {
    width: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #DCECF8;
    border: 2px inset #AAD2F0;
    border-radius: 6px;
}

.active {
  background-color: #369 !important;
}
