
.tabbable .tabs {
list-style: none; 
margin: 0 10px; 
padding: 0;}

.tabbable .tabs li {
list-style: none; 
margin: 0; 
padding: 0; 
display: inline-block; 
position: relative; 
z-index: 1;}

.tabbable .tabs li a {
text-decoration: none; 
color: #036; 
border: 1px solid #036; 
padding: 2px 22px;
margin: 0px 3px 0px -10px;
display: inline-block;  
background: #69C;}

.tabbable .tabs li a.active, .tabbable .tabs li a:hover {
color: #FFF;
background: #036;}

.tabcontent {
border: 2px solid #036; 
margin-top: -1px; 
padding: 10px;}
