﻿/*
fml-color-scheme

blue:       #086EA0
light blue: #AAD2F0
pale blue:  #DCECF8
green:      #78C864
orange:     #F6BA00
gray:       #808080
light gray: #D9D9D9
pale gray:  #E6E6E6
white
black
*/
.container
{
    width: 100%;
    padding: 0px !important;
}
h1 {
    font-size: 12pt;
    font-weight: bold;
}
#search, #search_to {
    height: 200px !important;
    position: relative;
}
#search_to option {
    margin-left: 16px;
}
.search_header {
    text-align: center !important;
    font-weight: bold;
}
#initial_planning button {
    min-width: 80px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#left, #right {
    width: 47%;
    float:left;
    margin-left: 20px;
    text-align: left;
}
.right {
    float: right !important;
    margin-right: 0px !important;
}
#suggestions {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
#suggestions
{
    padding: 20px;
}
#suggestions_table {
    margin-top: 20px;
    border: 2px inset #AAD2F0;
    border-radius: 6px;
    background: white;
    padding: 0px;
    border-spacing: 0px 0px !important;
}
#scroll_wrapper {
    height: 200px;
    overflow-y: scroll;
}
#initial_planning #header {
    padding-right: 10px;
}
#suggestions_table #header {
    font-weight: bold;
    color: white;
    background-color: #808080 !important;
    font-family: sans-serif;
    font-size: 10pt;
}
#suggestions_table .header {
    background-color: #808080 !important;
}
#suggestions_table .table-cell {
    background-color: white;
    margin: 0px;
    text-align: left;
    padding: 6px;
    overflow: hidden;
}
#search_leftAll {
    margin-left: 20px !important;
}
.table {
    margin:0px !important;
}
#search_to option::before { /* the checkmark, hidden */
  content: " ";
  font-weight:bold;
  font-size: 9pt;
  background-color: transparent;
  color: white;
  display: block;
  border-radius: 50%;
  border: 1px solid #808080;
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -20px;
  text-align: center;
  line-height: 16px;
  transition-duration: 0.4s;
  transform: scale(0);
}
#search_to option.informationsComplete:before { /* the questionmark, visible */
  content: "✓";
  background-color: #78C864;
  color: white;
  transform: scale(1);
}
#search_to option.informationsIncomplete:before { /* the questionmark, visible */
  content: "?";
  background-color: #c86478;
  color: white;
  transform: scale(1);
}
.form-control {
  width: 100%;
  padding: 6px 12px;
}
.table {
    width: 100%;
}
#initialplanning-update_informations-form {
    width: 900px;
    height: 600px;
}
#initialplanning-update_informations-form ul .label {
  height:82px !important;
}
#initialplanning-update_informations-form .head {
  width:370px !important;
}
#initialplanning-update_informations-form ul.hiddenbulletpoints li {
    display: inline-block;
}
input[type=number] {
    text-align: right;
    width: 70px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background: #DCECF8;
    border: 2px inset #AAD2F0;
    border-radius: 6px;
}
input[type=number].long {
    width: 150px !important;
}
select {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background: #DCECF8;
    border: 2px inset #AAD2F0;
    border-radius: 6px;
}
.table-cell.incomplete {
    color: #c86478 !important;
}
#informations .c-tabs-nav__link::before { /* the questionmark, hidden */
  content: " ";
  font-weight:bold;
  font-size: 14pt;
  background-color: transparent;
  color: white;
  display: block;
  border-radius: 50%;
  border: 1px solid #808080;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: -6px;
  text-align: center;
  line-height: 30px;
  transition-duration: 0.4s;
  transform: scale(0);
}
#informations .c-tabs-nav__link.incomplete:before { /* the questionmark, visible */
  content: "?";
  background-color: #c86478;
  color: white;
  transform: scale(1);
}